header {
	color: orange;
	background-color: powderblue;
	font-family: avenir;
}

footer {
	color: orange;
	background-color: powderblue;
	font-family: avenir;
}

h1 {
	color: pink;
	font-family: avenir;
}

#contact {
	color: orange;
	background-color: powderblue;
	font-family: avenir;
}

.profile {
	color: purple;
	background-color: powderblue;
	font-family: avenir;
}