<!DOCTYPE html>
<html>
	<head>
		<title>Justin's i253 Blog</title>
		<link rel="stylesheet" href="../static/css/style.css" />
	</head>
	<body>
		<header>
		<a href="index">Home</a>
		<a href="about">About Us</a>
		<a href="contact">Contact Us</a>
		</header>

		<h1>Justin's Blog <3</h1>

		<a href="blog/8-experiments-in-motivation">Article 1</a>
		<a href="blog/a-mindful-shift-of-focus">Article 2</a>
		<a href="blog/how-to-develop-an-awesome-sense-of-direction">Article 3</a>
		<a href="blog/training-to-be-a-good-writer">Article 4</a>
		<a href="blog/what-productivity-systems-wont-solve">Article 5</a>
		<br>
		<br>
		<br>
		<br>


		<footer>
		<a href="index">Home</a>
		<a href="about">About Us</a>
		<a href="contact">Contact Us</a>
		</footer>
	</body>
</html>
	
